<!--<div class="modal-dialog modal-dialog-centered" role="document">-->
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" (click)="onCLose()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group" [ngClass]="{'error-boundary-border': isFieldInvalid(f.name)}">
          <input formControlName="name" id="name" class="form-control" autocomplete="off" placeholder="Input name"
                 name="name"
                 type="text">
        </div>
        <ng-container *ngIf="isFieldInvalid(f.name)">
          <small class="text-danger" *ngIf="f.name.errors.required">Name is required</small>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <div class="input-group">
          <input formControlName="description" id="description" class="form-control" autocomplete="off"
                 placeholder="Input description"
                 name="description" type="text">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCLose()">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Save
    </button>
  </div>
</div><!-- /.modal-content -->
<!--</div>-->
