<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group"
                       [ngClass]="{'error-boundary-border': isFieldInvalid(f.email), 'mb-3': !isFieldInvalid(f.email)}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input formControlName="email" type="email" class="form-control" placeholder="Email"
                           autocomplete="off" required>
                  </div>
                  <ng-container *ngIf="isFieldInvalid(f.email)">
                    <small class="text-danger" *ngIf="f.email.errors.required">Email is required</small>
                    <small class="text-danger" *ngIf="f.email.errors.email">Email is not correct format</small>
                  </ng-container>
                  <div class="input-group"
                       [ngClass]="{'error-boundary-border': isFieldInvalid(f.password), 'mb-3': !isFieldInvalid(f.password)}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input formControlName="password" type="password" class="form-control" placeholder="Password"
                           autocomplete="off" required>
                  </div>
                  <ng-container *ngIf="isFieldInvalid(f.password)">
                    <small class="text-danger" *ngIf="f.password.errors.required">Password is required</small>
                  </ng-container>
                  <div class="row">
                    <div class="col-6">
                      <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary px-4">
                        <div *ngIf="loading" class="spinner-border" role="status" style="width: 1rem; height: 1rem">
                          <span class="sr-only">Loading...</span>
                        </div>
                        Login
                      </button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">-->
            <!--              <div class="card-body text-center">-->
            <!--                <div>-->
            <!--                  <h2>Sign up</h2>-->
            <!--                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut-->
            <!--                    labore et dolore magna aliqua.</p>-->
            <!--                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
