<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Resource
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-12">
          <app-datatable (openAddEvent)="open($event)" (openEditEvent)="open($event)" [column]="column"
                         [data]="resources" [totalRecords]="total" (openDeleteEvent)="openDelete()"
          ></app-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
