<div aria-label="Vertical button group" class="btn-group pt-0" role="group">
  <button (click)="add()" class="btn" type="button"><span class="bi bi-plus font-2xl"></span></button>
  <button [disabled]="disable" (click)="edit()" [class.action-disabled]="disable" class="btn" type="button"><span
    class="bi bi-pencil font-xl"></span>
  </button>
  <button [disabled]="disable" (click)="delete()" [class.action-disabled]="disable" class="btn" type="button"><span
    class="bi bi-trash font-xl"></span>
  </button>
</div>
