<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Level
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-12">
          <app-datatable [column]="column" (openEditEvent)="open($event)" (openAddEvent)="open($event)" [data]="levels"
                         (openDeleteEvent)="openDelete()"
                         [totalRecords]="total"></app-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
