<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Post
    </div>
    <div class="card-body pt-3">
      <div class="row">
        <div class="col-12">
          <tabset>
            <tab [id]="'1'" (selectTab)="handleTabChange($event)">
              <ng-template tabHeading><i class="icon-calculator"></i> Pending</ng-template>
              <div class="row">
                <div class="col-12">
                  <app-datatable [column]="column" [data]="posts" (pageChange)="handlePageChange($event)"
                    [totalRecords]="totalRecords" (openAddEvent)="open($event)" (openEditEvent)="open($event)">
                  </app-datatable>
                </div>
              </div>
            </tab>
            <tab [id]="'2'" (selectTab)="handleTabChange($event)">
              <ng-template tabHeading><i class="icon-basket-loaded"></i> Approved</ng-template>
              <div class="row">
                <div class="col-12">
                  <app-datatable [column]="column" [data]="posts" (pageChange)="handlePageChange($event)"
                    [totalRecords]="totalRecords" (openAddEvent)="open($event)" (openEditEvent)="open($event)">
                  </app-datatable>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }">
  </ngx-loading>
</div>
