<div *ngIf="!loading" class="animated fadeIn">
  <div class="card">
    <div class="card-header d-inline-flex justify-content-between">
      <div class="left-block d-inline-flex">
        <i class="icon-drop" style="margin: 8px 5px"></i>
        <h4>{{post.title}}</h4>
      </div>
      <div *ngIf="post.status === 1" class="right-block d-flex">
        <app-currency-convert (priceChange)="handlePriceChange($event)" [value]="post.price"></app-currency-convert>
        <button class="btn btn-primary ml-3" (click)="approvePost()" style="width: 10em">
          <i class="icon-target"></i>
          APPROVE
        </button>
      </div>
    </div>
    <div class="card-body pt-3">
      <div class="row">
        <div class="col-4">
          <a href="{{post.backgroudUrl}}" target="_blank">
            <img src="{{post.backgroudUrl}}" style="width: 25em">
          </a>
        </div>
        <div class="col-8">
          <div class="d-table font-xl" style="width: 50%">
            <div class="d-table-row">
              <div class="d-table-cell">
                <h6 class="font-2xl">
                  Title:
                </h6>
              </div>
              <div class="d-table-cell">
                {{post.title}}
              </div>
            </div>
            <div class="d-table-row">
              <div class="d-table-cell">
                <h6 class="font-2xl">
                  Category:
                </h6>
              </div>
              <div class="d-table-cell">
                {{post.category.name}}
              </div>
            </div>
            <div class="d-table-row">
              <div class="d-table-cell">
                <h6 class="font-2xl">
                  Resource:
                </h6>
              </div>
              <div class="d-table-cell">
                {{post.resource.name}}
              </div>
            </div>
            <div class="d-table-row">
              <div class="d-table-cell">
                <h6 class="font-2xl">
                  Level:
                </h6>
              </div>
              <div class="d-table-cell">
                {{post.level.name}}
              </div>
            </div>
            <div class="d-table-row">
              <div class="d-table-cell">
                <h6 class="font-2xl">
                  Status:
                </h6>
              </div>
              <div class="d-table-cell">
                {{getStatus(post.isActive)}}
              </div>
            </div>
            <div class="d-table-row">
              <div class="d-table-cell">
                <h6 class="font-2xl">
                  Author:
                </h6>
              </div>
              <div class="d-table-cell">
                {{post.author.email}}
              </div>
            </div>
            <div class="d-table-row">
              <div class="d-table-cell">
                <h6 class="font-2xl">
                  Source:
                </h6>
              </div>
              <div class="d-table-cell">
                <a href="{{post.url}}" target="_blank">
                  {{post.url}}
                </a>
              </div>
            </div>
            <div class="d-table-row">
              <div class="d-table-cell">
                <h6 class="font-2xl">
                  Price:
                </h6>
              </div>
              <div class="d-table-cell">
                {{post.price || 0}} ELON
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h6 class="font-2xl">
            Description:
          </h6>
          <p>{{post.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
