<!--<div class="modal-dialog modal-dialog-centered" role="document">-->
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" (click)="onCLose()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name" class="required">Name</label>
        <div class="" [ngClass]="{'error-boundary-border': isFieldInvalid(f.name)}">
          <input formControlName="name" id="name" class="form-control" autocomplete="off" placeholder="Input name"
                 name="name" type="text">
        </div>
        <ng-container *ngIf="isFieldInvalid(f.name)">
          <small class="text-danger" *ngIf="f.name.errors.required">Name is required</small>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="description" class="required">Description</label>
        <div class="">
          <input formControlName="description" id="description" class="form-control" autocomplete="off"
                 placeholder="Input description" [ngClass]="{'error-boundary-border': isFieldInvalid(f.description)}"
                 name="description" type="text">
          <ng-container *ngIf="isFieldInvalid(f.description)">
            <small class="text-danger" *ngIf="f.description.errors.required">Description is required</small>
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <label for="category" class="required">Category</label>
        <div class="">
          <select formControlName="category" id="category" class="form-control" autocomplete="off"
                  [compareWith]="compareWith" name="category"
                  [ngClass]="{'error-boundary-border': isFieldInvalid(f.category)}">
            <option [value]="null">--Please choose--</option>
            <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
          </select>
          <ng-container *ngIf="isFieldInvalid(f.category)">
            <small class="text-danger" *ngIf="f.category.errors.required">Category is required</small>
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <label for="level" class="required">Level</label>
        <div class="">
          <select formControlName="level" id="level" class="form-control" autocomplete="off" [compareWith]="compareWith"
                  name="level" [ngClass]="{'error-boundary-border': isFieldInvalid(f.level)}">
            <option [value]="null">--Please choose--</option>
            <option *ngFor="let level of levels" [ngValue]="level">{{level.name}}</option>
          </select>
          <ng-container *ngIf="isFieldInvalid(f.level)">
            <small class="text-danger" *ngIf="f.level.errors.required">Level is required</small>
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <label for="resource" class="required">Resource</label>
        <div class="">
          <select formControlName="resource" id="resource" class="form-control" autocomplete="off"
                  [compareWith]="compareWith" name="resource"
                  [ngClass]="{'error-boundary-border': isFieldInvalid(f.resource)}">
            <option [value]="null">--Please choose--</option>
            <option *ngFor="let resource of resources" [ngValue]="resource">{{resource.name}}</option>
          </select>
          <ng-container *ngIf="isFieldInvalid(f.resource)">
            <small class="text-danger" *ngIf="f.resource.errors.required">Resource is required</small>
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <label for="source" [class.required]="!data">Source</label>
        <div class="">
          <input id="source" class="form-control" autocomplete="off" formControlName="source"
                 placeholder="Input source link" style="padding-top: 3px;padding-bottom: 0;" name="source" type="text"
                 [ngClass]="{'error-boundary-border': isFieldInvalid(f.source) && !data}">
          <ng-container *ngIf="isFieldInvalid(f.source)">
            <small class="text-danger" *ngIf="f.source.errors.required">Source is required</small>
            <small class="text-danger" *ngIf="f.source.errors.pattern">Source is not match with url format</small>
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <label for="file">Image</label>
        <div class="">
          <input id="file" class="form-control" autocomplete="off" (change)="handleSelectFile($event,'file')"
                 placeholder="Input description" style="padding-top: 3px;padding-bottom: 0;" name="description"
                 type="file">
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="required">Price</label>
        <div class="">
          <!--          <div class="d-flex">-->
          <!--            <div class="input-group mb-3">-->
          <!--              <input id="price" class="form-control" autocomplete="off" formControlName="before_price"-->
          <!--                     placeholder="Before Convert" [ngClass]="{'error-boundary-border': isFieldInvalid(f.price)}"-->
          <!--                     name="description" type="number" [step]="1" [min]="0" [valueAsNumber]="true">-->
          <!--              <div class="input-group-append">-->
          <!--                <select class="input-group-text" [value]="currency" (change)="handleChooseCurrency($event)">-->
          <!--                  <option [ngValue]="'USD'">USD</option>-->
          <!--                  <option [ngValue]="'VND'">VND</option>-->
          <!--                </select>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div class="input-group mb-3">-->
          <!--              <input formControlName="price" id="eth" class="form-control" autocomplete="off" [readOnly]="true"-->
          <!--                     placeholder="After Convert" [ngClass]="{'error-boundary-border': isFieldInvalid(f.price)}"-->
          <!--                     name="description" type="number" [step]="1" [min]="0">-->
          <!--              <div class="input-group-append">-->
          <!--                <span class="input-group-text">-->
          <!--                  ELON-->
          <!--                </span>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <ng-container *ngIf="isFieldInvalid(f.price)">-->
          <!--            <small class="text-danger" *ngIf="f.price.errors.required">Price is required</small>-->
          <!--          </ng-container>-->
          <app-currency-convert (priceChange)="handlePriceChange($event)" (currencyChange)="handleCurrencyChange($event)"></app-currency-convert>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCLose()">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Save
    </button>
  </div>
</div><!-- /.modal-content -->
<!--</div>-->
