<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Category
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-12">
          <app-datatable [column]="column" [data]="categories" (pageChange)="handlePageChange($event)"
                         [totalRecords]="total" (openDeleteEvent)="openDelete()"
                         (openAddEvent)="open($event)" (openEditEvent)="open($event)"></app-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
