<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Post
    </div>
    <div class="card-body pt-3">
      <div class="row">
        <div class="col-12">
          <app-datatable [column]="column" [data]="posts" (pageChange)="handlePageChange($event)"
                         [totalRecords]="totalRecords"
                         (openAddEvent)="open($event)" (openEditEvent)="open($event)"></app-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
