<div>
  <div class="row">
    <app-tool-bar (addEvt)="openAdd()" (editEvt)="openEdit()" (deleteEvt)="openDelete()"
                  [disable]="!selected"></app-tool-bar>
  </div>
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th *ngFor="let col of column" scope="col" (click)="handleSortChange(col)">
          <div>
            {{col.fieldLabel}}
            <span *ngIf="col.sortable && sortDir">
          <i *ngIf="sortDir === 'asc' && col.fieldName === this.sortField" class="bi bi-sort-up"></i>
          <i *ngIf="sortDir === 'desc' && col.fieldName === this.sortField" class="bi bi-sort-down"></i>
        </span>
          </div>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="!data || data.length === 0">
      <tr>
        <td [colSpan]="column.length" class="text-center">
          No records
        </td>
      </tr>
      </tbody>
      <tbody>
      <ng-template [ngIf]="data && data.length > 0">
        <tr *ngFor="let item of data" (click)="handleClick(item)"
            [class.row-selected]="selected && selected.id === item.id">
          <td *ngFor="let col of column">
            <ng-template [ngIf]="col.type === 'text'">
              {{item[col.fieldName]}}
            </ng-template>
            <ng-template [ngIf]="col.type === 'link'">
              <a [routerLink]="[col.url + '/'+ item[col.fieldLink]]">
                {{item[col.fieldName]}}
              </a>
            </ng-template>
            <ng-template [ngIf]="col.type === 'image'">
              <img src="{{item[col.fieldName]}}" alt="image" style="width: 10rem">
            </ng-template>

            <ng-template [ngIf]="col.type === 'object'">
              {{item[col.fieldName].name}}
            </ng-template>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [maxSize]="5" [rotate]="true" (pageChange)="handlePageChange($event)"
                    [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>

