<form [formGroup]="currencyForm">
  <div class="d-flex">
    <div class="input-group mb-3">
      <input id="price" class="form-control" autocomplete="off" formControlName="before_price"
             placeholder="Before Convert" [ngClass]="{'error-boundary-border': isFieldInvalid(f.price)}"
             name="description" type="number" [step]="1" [min]="0" [valueAsNumber]="true">
      <div class="input-group-append">
        <select class="input-group-text" [value]="currency" (change)="handleChooseCurrency($event)">
          <option [ngValue]="'USD'">USD</option>
          <option [ngValue]="'VND'">VND</option>
        </select>
      </div>
    </div>
    <div class="input-group mb-3">
      <input formControlName="price" id="eth" class="form-control" autocomplete="off" [readOnly]="true"
             placeholder="After Convert" [ngClass]="{'error-boundary-border': isFieldInvalid(f.price)}"
             name="description" type="number" [step]="1" [min]="0">
      <div class="input-group-append">
      <span class="input-group-text">
        ELON
      </span>
      </div>
    </div>
    <ng-container *ngIf="isFieldInvalid(f.price)">
      <small class="text-danger" *ngIf="f.price.errors.required">Price is required</small>
    </ng-container>
  </div>
</form>
