// Here you can add other styles
.error-boundary-border {
  border: 1px solid red !important;
}

input {
  box-shadow: none !important;
  outline: none !important;
}

.required {
  &:after {
    content: '*';
    color: red;
  }
}
